@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@layer base {
    @font-face {
      font-family: 'Montserrat';
      src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
    }
}

body {
  font-family: 'Montserrat';
}

.custom-swal-position {
  top: 10vh !important;  /* Adjust this based on your navbar height */
  left: 86vw !important;
}
.custom-confirm-button{
  background-color: rgb(255, 68, 0) !important;
  border-radius: 50px;
  position: relative;
  left: 15vw !important;

}